.inicio{
    background-color: crimson;

}
.rickrol{
    background-image: url(/multimedia/raining-money-8.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.anuncio{
    background-color: yellow;
}
.prueba{
    background-color: black;
    border: 2px outset #7c7c7c;
}