$dis: flex;
$border:2px outset #7c7c7c;
$letras: 2px 0 0 #000,
-2px 0 0 #000,
0 2px 0 #000,
0 -2px 0 #000,
1px 1px #000,
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000;
%letras {
    padding: 10px;
    text-shadow: $letras;
    color: white;
}

p {
    font-size: 1.4rem;
}

.uno {
    background-image: url(../multimedia/azul.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.dos {
    background-image: url(../multimedia/R.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio {
    background-color: crimson;
    display: $dis;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5PX;
}

.rickrol {
    background-image: url(../multimedia/verde.gif);
    background-repeat: no-repeat;
    background-size: cover;
    p {
        display: none;
    }
    .bye{
        display: none;
    }
}

.anuncio {
    margin-top: 10px;
    border: 3px outset black;
    background-color: white;
    min-height: 50px;
    display: $dis;
    align-items: center;
    justify-content: center;
}

.anuncio2 {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 5px;
    background-color: white;
    min-height: 50px;
    display: $dis;
}

.anuncio2 {
    a {
        margin-top: 5px;
    }
}

.prueba {
    background-image: url(../multimedia/fortnite2.jpg);
    border: $border;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        @extend %letras;
    }
    a {
        text-shadow: $letras;
    }
}

.prueba2 {
    background-image: url(../multimedia/OIP.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: $border;
    h2 {
        @extend %letras;
    }
    a {
        text-shadow: $letras;
    }
}

.prueba0 {
    background-image: url(../multimedia/emo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border: $border;
    h2 {
        @extend %letras;
    }
    a {
        text-shadow: $letras;
    }
}

.master {
    background-color: #7c7c7c;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    text-shadow: $letras;
    text-align: center;
    padding: 20px;
}

.padre {
    margin-top: 2px;
    background-color: white;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5PX;
    p {
        padding: 10px;
    }
}

.padre2 {
    margin-top: 2px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.hijo {
    text-align: left;
}

.hijo2 {
    width: 10%;
}

.anuncios {
    display: $dis;
    position: relative;
    left: 10%;
}

.anuncios_ {
    margin-top: 100%;
    display: $dis;
    position: relative;
    left: 10%;
}

.xd {
    text-align: center;
}

.centrado {
    display: $dis;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    img {
        height: 150px;
        width: 350px;
        margin-bottom: 5px;
    }
}

.video {
    height: 100%;
    width: 70%;
}

.noseaunquen {
    margin-top: 10px;
}

@media only screen and (max-width: 530px) {
    .rickrol {
        background-image: none;
        background-color: lightblue;
        a {
            display: none;
        }
        div {
            display: none;
        }
        p {
            text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
            color: white;
            display: block;
        }
    }
    .video {
        display: none;
    }
    .bye{
        display: block;
    }
}