.uno{
    background-image:url(/multimedia/azul.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.inicio{
    background-color: crimson;
    display:flex;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5PX;
    

}
.rickrol{
    background-image: url(/multimedia/raining-money-8.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.anuncio{
    border: 3px outset black;
    background-color: yellow;
    min-height:50px;
    display: flex;
    align-items: flex-start;
}
.anuncio a{
    margin-top: 20px;
    margin-left: 650px;
    margin-block-end: 20px;
}
.prueba{
    background-image: url(/multimedia/fortnite2.jpg);
    border: 2px outset #7c7c7c;
    background-repeat: no-repeat;
    background-size: cover;
    color : white;
    padding: 10px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.prueba2{
    background-image: url(/multimedia/OIP.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px outset #7c7c7c;
    color: white;
    padding: 10px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.prueba0{
    background-image:url(/multimedia/emo.gif);
    padding: 10px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: rgb(151, 134, 134);
}

