.inicio{
    background-color: crimson;
    display:flex;
    

}
.rickrol{
    background-image: url(/multimedia/raining-money-8.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.anuncio{
    background-color: yellow;
}
.prueba{
    background-color: orange;
    border: 2px outset #7c7c7c;
    
}
.prueba2{
    background-color: blueviolet;
    border: 2px outset #7c7c7c;
    padding: 10px;
}
.prueba0{
    padding: ;
   
}