p{
    font-size: 1.4rem;    
}
.uno{
    background-image:url(../multimedia/azul.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.dos{
    background-image:url(../multimedia/R.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio{
    background-color: crimson;
    display:flex;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5PX;
    

}
.rickrol{
    background-image: url(../multimedia/raining-money-8.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.anuncio{
    margin-top: 10px;
    border: 3px outset black;
    background-color: white;
    min-height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anuncio2{
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 5px;
    background-color: white;
    min-height:50px;
    display: flex;

}
.anuncio2 a{
        margin-top: 5px;

}
.prueba{
    background-image: url(../multimedia/fortnite2.jpg);
    border: 2px outset #7c7c7c;
    background-repeat: no-repeat;
    background-size: cover;
    color : white;
    padding: 10px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}
.prueba2{
    background-image: url(../multimedia/OIP.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px outset #7c7c7c;
    color: white;
    padding: 10px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.prueba0{
    background-image:url(../multimedia/emo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: rgb(151, 134, 134);
    
}
.master{
    background-color: #7c7c7c;
    color:white;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
    padding: 20px;
    
}

.padre{
    margin-top: 2px;
    background-color: white;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5PX;
    padding: 10px;
}

.padre2{
    margin-top: 2px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    
}
.hijo{
    text-align: left;
}
.hijo2{
    width: 10%;
}
.anuncios{
    display: flex;
    position: relative;
    left: 10%;
}
.anuncios_{
    margin-top: 100%;
    display: flex;
    position: relative;
    left: 10%;
}

.xd{
    text-align: center;
}
.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrado img{
    height: 150px;
    width: 350px;
    margin-bottom: 5px;
}

